.containers{
    height: 100vh;
    margin: 0;
    width: 100%;
    background-color: aliceblue;
}
.Notetaker{
    width: 40%;
    height: 37vh;
    background-color: yellow;
    margin-top:10vh;
}
.inputtitle{
    position: relative;
    /* top: 5vh; */
    margin: 6vh 0;

}
.card{
    width:28vh;
    margin: 5vh 5vh;
}
.display-flex{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}